<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidexample.delivery"
    android:versionCode="1"
    android:versionName="1.1.6" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.androidexample.delivery.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androidexample.delivery.HomeActivity" >
        </activity>
        FirstScreen
        <activity
            android:name="com.androidexample.delivery.DisplayMerchantsActivity"
            android:label="@string/title_activity_display_merchants"
            android:parentActivityName="com.androidexample.delivery.SearchFragment"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidexample.delivery.FirstScreen" />
        </activity>
        <activity
            android:name="com.androidexample.delivery.SingleMerchantActivity"
            android:label="@string/title_activity_single_merchant"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.androidexample.delivery.DisplayMenuActivity"
            android:label="@string/title_activity_display_menu"
            android:parentActivityName="com.androidexample.delivery.DisplayMerchantsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidexample.delivery.DisplayMerchantsActivity" />
        </activity>
        <activity
            android:name="com.androidexample.delivery.SortMerchantsActivity"
            android:label="@string/title_activity_sort_merchants"
            android:parentActivityName="com.androidexample.delivery.DisplayMerchantsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidexample.delivery.DisplayMerchantsActivity" />
        </activity>
        <activity
            android:name="com.androidexample.delivery.SubMenuActivity"
            android:label="@string/title_activity_single_menu"
            android:parentActivityName="com.androidexample.delivery.DisplayMenuActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.androidexample.delivery.ItemOptionActivity"
            android:label="@string/title_activity_item_option"
            android:parentActivityName="com.androidexample.delivery.SubMenuActivity" >
        </activity>
        <activity
            android:name="com.androidexample.delivery.CheckOutActivity"
            android:label="@string/title_activity_check_out" >
        </activity>
        <activity
            android:name="com.androidexample.delivery.DisplayLoginActivity"
            android:label="@string/title_activity_display_login" >
        </activity>
    </application>

</manifest>